* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Arial, sans-serif;
}

/* Top of Page and Logo */

#siteWrapper {
  width: 100%;
  height: 2200px;
}

 #firstPageView {
  background: url('/images/mainImage.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 750px;
}

body {
  font-size: 14px;
}

#logo {
  display: inline;
}

#logo img {
  width: 150px;
  height: 150px;
  transform: translate(10%, 10%);
  position: fixed;
  background: rgba(0,0,0,.7);
  z-index: 1;
}

/* header */

.header {
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul li{
  margin: 5px 5px;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #27838B;
  border-radius: 5px;
  text-transform: uppercase;
}

.header ul {
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color: #ffffff;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #000000;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* Main Title */

#mainTitle {
  display: inline-block;
  text-align: center;
  color: #ffffff;
  font-size: 36px;
  font-family: 'Open Sans', sans-serif;
  transform: translate(50%, 100%);
  width: 50%;
  letter-spacing: 2px;
  background: rgba(0,0,0,.7);
  border-radius: 5px;
  height: 7em;
}

#mainTitle h2 {
  margin-bottom: 10px;
}

#mainTitle a {
  text-decoration: none;
  border: 1px #27838B solid;
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  background-color: #27838B;
}

#mainTitle a:hover {
  background-color: #000000;
  border: none;
}

/* Rest of the Page */
#secondPageView {
background-color: #D3D3D3;
background-image:
linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
linear-gradient(#eee .1em, transparent .1em);
background-size: 100% 1.2em;
height: auto;
width: 100%;
}

#aboutText {
  text-align: center;
  color: #000000;
  position: absolute;
  top: 120%;
  left: 11%;
  background: rgba(255,255,255,1);
  height: 200px;
  border-radius: 5px;
  width: 75%;
}

h3 {
  font-size: 36px;
  float: left;
  padding: 40px 0 0 200px;
}

p {
  font-size: 24px;
  float: right;
  width: 50%;
  padding: 0px 100px 0px 10px;
  font-family: 'Open Sans Condensed', sans-serif;
}

p a {
  color: #000000;
  font-family: 'Open Sans Condensed', sans-serif;

}

#contactText {
  text-align: center;
  color: #000000;
  position: absolute;
  top: 180%;
  left: 11%;
  background: rgba(255,255,255,1);
  height: 200px;
  border-radius: 5px;
  width: 75%;
}

#workText {
  text-align: center;
  color: #000000;
  position: absolute;
  top: 240%;
  left: 11%;
  background: rgba(255,255,255,1);
  height: 200px;
  border-radius: 5px;
  width: 75%;
}

#workParagraph {
  padding: 44px 81px 0px 10px;
}

#workHeader {
  padding: 63px 0 0 180px;
}

/* Footer Styling */

footer {
  background-color: #000000;
  width: 100%;
  height: 150px;
  color: #ffffff;
}

.footerCol {
  display: inline-block;
  width: 30%;
  float: left;
  position: relative;
  text-align: center;
  margin-top: 20px;
}


.footerCol i {
  color: #ffffff;
  font-size: 35px;
  text-align: center;
}

.footerCol a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
}

.footerCol span {
  font-size: 18px;
  text-decoration: underline;
  text-align: center;
}

.footerCol p {
  position: relative;
  top: 10%;
}

/* Media Queries */

@media only screen
  and (min-width: 767px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

@media only screen
  and (max-width: 767px) {

  #secondPageView {
    height: auto;
  }

  p {
    font-size: 14px;
    padding: 0px 33px 0px 10px;
    width: 78%;
  }

  h3 {
    font-size: 18px;
    padding: 10px 0 0 99px;
  }

  #aboutText {
    top: 137%;
    height: 215px;
  }

  #contactText {
    top: 181%;
  }

  #mobileContact {
    margin-bottom: 21px;
  }

  #workText {
    top: 226%;
  }

  #workHeader {
    padding: 22px 0 0 75px;
  }

  #workParagraph {
    padding: 35px 30px 0px 0px;
  }

  #siteWrapper {
    height: 1500px;
  }

  #mainTitle {
    font-size: 24px;
    transform: translate(0%, 65%);
    width: 100%;
    height: 257px;
  }

  #logo img {
    position: relative;
    width: 12%;
    height: 12%;
  }

}
