/* Reset and Default Styles */
body {
    font: 120% / 1.5 Arial;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header and Nav Styling */

header {
    background-color: #0030CC;
    width: 100%;
    height: 75px;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0.7em;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

nav li {
    font-size: 1.2em;
    line-height: 40px;
    display: inline;
    margin: 1em;
}

nav a {
    text-decoration: none;
    color: #fff;
    display: inline;
}

/* Main Banner Styling */

#mainBanner {
    background-color: #003CFF;
    width: 100%;
    height: 100%;
}

#mainLogo {
    padding: 19% 0 0 28%;
}

#logoImage img {
    width: 5%;
    height: 5%;

}
/* Main Page Element Stylings */ 

h1 {
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

p a {
    color: #5c6160;
    text-decoration: none;
    font-weight: bold;
}

/* Footer Styling */

.footerNav {
    background-color: #737978;
    display: block;
}

.footerNav ul {
    list-style: none;
    text-align: center;
    padding: 0.7em;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.footerNav li {
    font-size: 1.2em;
    line-height: 40px;
    display: inline;
    margin: 1em;
}

.footerNav a {
    text-decoration: none;
    color: #fff;
    display: inline;
}

small {
    width: 12em;
    display: block;
    margin: 0 auto;
}

/* Section Styling */

.section {
    position: relative;
    padding: 8% 0;
}

.section_content {
    max-width: 1200px;
    margin: auto;
}

.section_text, .section_image {
    padding: 8%;
}

.section_image img {
    display: block;
    width: 100%;
    max-width: 560px;
    margin: auto;
}

.sectionBG {
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

/* Section Backgrounds */

#sectionOne .sectionBG {
    background-color: #E4E4E4;
}

#section-Two .sectionBG {
    background-color: #86AEE4;
}

#sectionThree .sectionBG {
    background-color: #E4E4E4;
}

#aboutImage {
    transform: translate(50%);
}

/* Large Screen Media Query */

@media screen and (min-width: 45em) {

    .sectionContent {
      display: -webkit-flex;
      display: flex;
      align-items: center;
    }
    .sectionImage, .sectionText {
      padding: 3%;
      -webkit-flex: 1;
      flex: 1;
    } 
    .section:nth-child(2n) .sectionText {
      -webkit-order: 1;
      order: 1;
    }  

    /* Parallax */
    @supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {

      html, body {
        height: 100%;
      }

      body {
        transform: translateZ(0px); 
      }

      .pageSections {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        perspective: 300px;
        scroll-behavior: smooth;
      }

      .section, .sectionContent {
        transform-style: preserve-3d;
      }

      .sectionText {
        transform: translateZ(60px) scale(.8);
        transform-origin: 100% 50%;
      }

      .section:nth-child(2n) .sectionImage {
        transform: translateZ(100px) scale(.67);
        transform-origin: 100% 50%;
      }

      .section:nth-child(2n) .sectionText {
        transform-origin: 0% 50%;
      }

      .section:nth-child(2n) .section__bg {
        transform: translateZ(59px) scale(.85);
      }

      .section:nth-child(2n+1):not(:first-child) .section__bg {
        top: -50%;
      }

      .section:nth-child(2n+1):not(:last-child) .section__bg {
        bottom: -50%;
      }

      .section:first-child {
        padding-top: 14%;
      }

      .section:last-child {
        padding-bottom: 14%;
      }

      .section:nth-child(2n) {
        z-index: 1; /* ensure sections overlay correctly */
      }
    }
}

/* Media Queries for Smaller and Medium Screens */ 

@media screen and (max-width: 924px) {
    
    #mainLogo {
        padding: 19% 0 0 16%;
    }
    
    .sectionImage img {
        width: 13em;
        height: 13em;
        display: block;
    }

    #aboutImage {
        width: 13em;
        height: 18em;
        display: block;
        transform: translate(25%);
    }
}

@media screen and (max-width: 719px) {

    #mainBanner {
        padding: 30%;
    }

    #mainLogo img {
        width: 275%;
        transform: translate(-37%, 0%);
    }
    
    nav li {
        font-size: .7em;
    }

    .sectionImage img {
        width: 12em;
        height: 12em;
        display: block;
        margin: 3% auto;
    }

    #aboutImage {
        width: 12em;
        height: 17em;
        display: block;
        margin: 3% auto;
        transform: translate(4%);
    }

    #sectionOneTitle {
        text-align: center;
    }

    #sectionTwoTitle {
        text-align: center;
    }

    #sectionThreeTitle {
        text-align: center;
    }

    p {
        font-size: .9em;
        text-align: center;
        margin-left: .5em;
    }

    .footerNav li {
        font-size: .7em;
    }
}

